[submodule "nvim/.config/nvim"]
	path = nvim/.config/nvim
	url = https://github.com/AstroNvim/AstroNvim
	ignore = dirty
[submodule "AstroNvim_user"]
	path = AstroNvim_user
	url = git@github.com:maths-lover/AstroNvim_user.git
	ignore = dirty
